.card-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-row .card:hover {
  background: #eeeeee;
}

.tutorial-item 
{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.cardbody
{
    visibility: hidden;
    opacity: 1;
    margin-top: -100px;
    transition-delay: 0.3s;
}

.card:hover .cardbody
{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
    background: #eeeeee;
}

.how-to {
  display: flex;
  justify-content: center;
}