.layout-container {
  margin: auto;
  height: auto;
  width: 1200px;
  padding-top: 20px;
}

.card-row, .card-pop{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.card-row .card:hover, .card-pop .card:hover {
  background: #cacaca;
}

#sorts-and-filters {
  margin-left: 1vw;
}

#filter {
  margin-top: 10px;
}

#price, #distance {
  display: flex;
  max-width: 215px;
}

#search-button {
  position: relative;
  left: 30%;
}
