body {
  background: #ffffff;
}

.layout-container {
  margin: auto;
  height: auto;
  width: 1200px;
  padding-top: 20px;
}

.required:after {
  content:" *";
  color: red;
}

.card-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-row .card:hover {
  background: #eeeeee;
}
